:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
  padding-top: 112px;
}

@media (max-width: 991px) {
  .main-content {
    padding-top: 88px;
  }
}

.main-content.auth-layout {
  padding-top: 0;
}
